# Igonore all files in the old_code directory
old_code/*
data/combined_graphs*/*
data/reduced/*
data/*

eval_data/**/*.pdf
eval_data/**/combined_graphs
eval_data/**/similarity
eval_data/annotations/

eval_data/**/.DS_Store
eval_data/.DS_Store

eval_data/MTCFeatures/

MelodicOccurrences