# Igonore all files in the old_code directory
data/*
old_code/*
scripts/*

.DS_Store
eval_data/.DS_Store
eval_data/**/.DS_Store

eval_data/**/*.pdf
eval_data/**/combined_graphs

eval_data/old_annotations
eval_data/MTCFeatures/

MelodicOccurrences